/*========================================================*\
                          BASE
\*========================================================*/

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

body,
button {
  font-family: "Raleway", sans-serif;
}

button {
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  margin-left: 30px;
  margin-right: 30px;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

li,
p,
h3 {
  font-size: 16px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*========================================================*\
                          LAYOUT
\*========================================================*/

.main-container {
  margin: 0px auto;
  background-color: transparent;
}

.booki-header {
  margin-top: 0px;
}

.booki-search {
  margin-top: 31px;
}

.booki-filters {
  margin-top: 31px;
}

.booki-activities {
  margin-top: 60px;
  margin-bottom: 61px;
}

.booki-footer {
  height: 225px;
  padding-top: 45px;
  padding-left: 70px;
}

/*========================================================*\
                          MODULES
\*========================================================*/

/* -------------------- booki header -------------------- */

.booki-header {
  display: flex;
  justify-content: space-between;
}

.booki-header__logo_container {
  height: 19px;
  width: 61.09px;
  margin-top: 44px;
}

.booki-header__nav {
  width: 200px;
}

.booki-header__nav ul {
  width: 100%;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
}

.booki-header__nav li {
  padding: 44px 33px 22px 33px;

  border-top: 2px solid transparent;

  display: inline-block;
}

.booki-header__nav li:hover {
  border-top: 2px solid #0065fc;
}

.booki-header__nav a:hover {
  color: #0065fc;
}

/* -------------------- booki search -------------------- */

.booki-search {
  display: flex;
  flex-direction: column;
}

.booki-search h1 {
  margin-bottom: 0;
}

.booki-search__form_container {
  width: 332px;
  position: relative;
  display: flex;
  margin-top: 4px;
}

.search-input {
  width: 100%;
  height: 49px;
  padding: 10px 50px 10px 70px;

  border-radius: 15px;
  outline: none;
  border: 1px solid #f2f2f2;

  line-height: 1;
  font-size: 18px;
  color: black;
}

.search-button {
  position: absolute;
  height: 49px;
  left: 282px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0;
  padding: 0;

  border-radius: 0px 15px 15px 0px;

  background: #0065fc;

  font-size: 18px;
  color: #fff;

  z-index: 2;
}

.button-label {
  width: 132px;
}

.button-mglass {
  width: 49px;
  z-index: 1;
}

.location-dot-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0%;
  right: 84.94%;
  top: 0%;
  bottom: 0%;
  background: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

/* ------ placeholders ------ */

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: black;
  opacity: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: black;
  opacity: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/* -------------------- booki filters -------------------- */

.booki-filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booki-filters__main_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3%;
}

.filters-boxes-container {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  gap: 45px;
}

.filter-button {
  font-size: 17px;
  background-color: transparent;
  color: black;
}

.filter-box {
  height: 50px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 10px 15px;

  border: 2px solid #d9d9d9;
  border-radius: 25px;
}

.filter-box:hover {
  background-color: #deebff;
}

.filter-box i {
  color: #0065fc;
}

.booki-filters__info_container {
  display: flex;
  align-items: center;
  height: 100px;
}

.info-icon {
  width: 24px;
  height: 24px;
  margin-right: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  color: #0065fc;
}

.fa-info {
  padding-bottom: 3px;
}

/* -------------------- buttons commons ------------------- */

.booki-button {
  font-weight: 700;
  border: 0;
  outline: none;
}

/* -------------------- cards commons -------------------- */

.card {
  position: relative;
  margin: 0;
  display: flex;

  border: none;
  border-radius: 20px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.star-rating {
  display: flex;
  height: 20%;
  align-items: center;
  padding-top: 0px;
}

.star-rating__star {
  color: #f2f2f2;
}

.star-rating__star--active {
  color: #0065fc;
}

/* -------------------- booki lodging -------------------- */

.booki-lodging {
  display: flex;
  justify-content: space-between;
}

.booki-lodging__container,
.booki-lodging__popular {
  background: #f2f2f2;
  border-radius: 20px;
}

.booki-lodging__container {
  width: 66%;
  height: auto;
  padding: 0 40px;
}

.booki-lodging__popular {
  width: 31%;
  height: auto;
  padding-left: 2.8%;
  padding-right: 2.8%;
}

.lodging-title {
  margin-top: 42px;
}

.lodging-show_more {
  margin-top: 40px;
}

.lodging_cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.popular-cards-container {
  padding-bottom: 34px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.lodging-card,
.popular-card {
  background: #ffffff;
}

.lodging-card {
  flex: 1 1 30%;
  height: 199px;
  flex-direction: column;
}

.popular-card {
  width: auto;
  height: 144px;
  flex-direction: row;
}

.small_card-img_container {
  overflow: hidden;
  border: 5px solid #ffffff;
}

.lodging-card > .small_card-img_container {
  height: 62.5%;
  border-radius: 20px 20px 0px 0px;
}

.popular-card > .small_card-img_container {
  width: 40%;
  flex-shrink: 0;
  border-radius: 20px 0px 0px 20px;
}

.small_card-info_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 5px;
}

.lodging-card > .small_card-info_container {
  height: 37.5%;
  padding-bottom: 7px;
}

.popular-card > .small_card-info_container {
  width: 60%;
}

.info-text {
  height: 70%;
}

.small_card-info_container h3 {
  line-height: 1;
  margin-bottom: 0px;
}

.lodging-card > .small_card-info_container h3 {
  margin-top: 1px;
}

.small_card-info_container p {
  font-size: 14px;
}

.lodging-card > .small_card-info_container p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.popular-card > .small_card-info_container p {
  margin-top: 9px;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

.popular-title h2 {
  font-size: 22px;
}

.popular-title i {
  display: inline-block;
  font-size: 18px;
  color: #0065fc;
}

/* ------------------- booki activities ------------------- */

.booki-activities {
  display: flex;
  flex-direction: column;
}

.booki-activities__cards {
  display: flex;
  justify-content: space-between;
}

.activity-card {
  width: 22.8%;
  flex-direction: column;
  justify-content: space-between;
}

.activity-card__img_container {
  height: 85%;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}

.activity-title {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  padding-right: 10px;
}

.activity-card h3 {
  padding-bottom: 0;
}

/* -------------------- booki footer --------------------- */

.booki-footer {
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
}

.booki-footer__submenu {
  width: 33%;
}

.booki-footer__submenu ul {
  padding-left: 0px;
}

.booki-footer__submenu li {
  margin-bottom: 12px;
}

/*========================================================*\
                          BREAKPOINTS
\*========================================================*/

@media only screen and (min-width: 992px) {
}

@media only screen and (768px <= width < 992px) {
  .booki-filters__main_container {
    gap: 1.5%;
  }

  .filters-boxes-container {
    width: 100%;
    gap: 1.5%;
  }

  .booki-lodging {
    flex-direction: column;
    gap: 50px;
  }

  .booki-lodging__container {
    width: 100%;
    height: auto;
  }

  .booki-lodging__popular {
    width: 100%;
    height: auto;
  }

  .popular-cards-container {
    flex-direction: row;
  }
}

@media only screen and (width < 768px) {
  header,
  main,
  footer {
    margin: 0;
  }

  .main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .booki-header {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .booki-header__nav {
    width: 100%;
  }

  .booki-header__nav ul {
    width: 100%;
    justify-content: center;
  }

  .booki-header__nav li {
    box-sizing: content-box;
    width: 50%;
    padding-left: 0;
    padding-right: 0;

    border-top: none;
    border-bottom: 2px solid transparent;

    text-align: center;
  }

  .booki-header__nav li:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
  }

  .button-label {
    display: none;
  }

  .booki-filters,
  .booki-search,
  .lodging-title,
  .booki-lodging__popular,
  .lodging_cards-container,
  .booki-activities {
    padding: 0 8.5%;
  }

  .booki-filters__main_container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5%;
  }

  .filters-boxes-container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .filter-box {
    flex: 1 1 40%;
    justify-content: flex-start;
  }

  .filter-button {
    font-size: 2.35vw;
  }

  .fa-info {
    transform: scale(1.5, 1.2);
  }

  .booki-lodging {
    flex-direction: column-reverse;
  }

  .booki-lodging__container {
    background: transparent;
    padding: 0;
  }

  .booki-lodging__container,
  .booki-lodging__popular {
    width: 100%;
    border-radius: 0;
  }

  .lodging_cards-container {
    flex-direction: column;
    margin: 0;
  }

  .lodging-card {
    flex: 1 1 199px;
  }

  .lodging-card > .small_card-img_container {
    width: 100%;
    height: 124px;
    flex-shrink: 0;
  }

  .lodging-show_more {
    display: none;
  }

  .booki-activities__cards {
    flex-direction: column;
    gap: 30px;
  }

  .activity-card {
    width: 100%;
    height: 190px;
  }

  .activity-card__img_container {
    height: 70%;
  }

  .activity-title {
    height: 30%;
  }

  .booki-footer {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}

@media only screen and (width <= 400px) {
  .booki-search__form_container {
    width: 100%;
  }

  .search-button {
    width: 15%;
    left: 85%;
  }

  .location-dot-container {
    width: 15%;
  }

  .search-input {
    padding: 10px 15vw 10px 15vw;
  }

  .filter-button {
    font-size: 2.8vw;
  }
}
